// BASE
* {
    box-sizing: border-box;
}

body {
    padding: 1rem;
    margin: auto;
    max-width: 940px;

}

header {
    padding: 1rem 1rem 2rem;
}

#searchbar {
    display: block;
    margin: auto;
    padding: 1rem;
    width: 65%;
    outline: none;
    border: 2px solid rgba(188, 186, 186, 0.425);
    border-radius: .5rem;
        &:target, &:focus {
            border: 2px inset rgba(188, 186, 186, 0.975);
            border-radius: .5rem;
            outline: none;
        }

}
// GRID

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
    grid-template-rows: repeat(auto-fill, minmax(200px, 200px));
    grid-gap: 2rem;
}

// IMAGES

.images {
    display: flex;
    justify-content: space-evenly;
    & img {
        width: 100%;  
    }
    
}
