.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 228px));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.5rem 0;
    grid-auto-rows: 1fr;
    place-items: center;
    justify-content: center;
}

